@model PDUManagment.Classes.Create.CreateProtocol

@if (TempData["Er"] != null)
{
<div class="alert alert-danger">
    @TempData["Er"]
</div>}

<div class="Block">
    @using (Html.BeginForm("Create", "CreatePrt", FormMethod.Post))
    {
        <div>
            <h2>Создать протокол по существующему заказу</h2>
        </div>

        <div class="HorizForm">
            <div>@Html.LabelFor(model => model.Order, "Имя заказа", htmlAttributes: new { @class = "control-label " })</div>
            <div>@Html.DropDownListFor(model => model.Order, Model.ListOrders)</div>
            <div>@Html.ValidationMessageFor(model => model.Order, "", new { @class = "alert-danger" })</div>
        </div>

        <div class="HorizForm">
            <div>@Html.LabelFor(model => model.TOPBOTName, "Стороны изделия", htmlAttributes: new { @class = "control-label " })</div>
            <div>@Html.DropDownListFor(model => model.TOPBOTName, Model.TOPBOT)</div>
            <div>@Html.ValidationMessageFor(model => model.TOPBOTName, "", new { @class = "alert-danger" })</div>
        </div>

        <div class="HorizForm">
            <input type="submit" value="Создать протокол" class="btn btn-success" />
        </div>

    }
</div>

<style>


    .Block {
        border-bottom: 0.2px dotted black;
        padding: 2%;
        align-items: center;
        align-content: center;
    }

        .Block .HorizForm {
            border-bottom: 0.2px dotted gray;
            align-content: center;
            margin: 0.3%;
            padding: 0.9%;
        }
</style>